extends layout_page

block content
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Coletor
      p
        a.btn.btn-primary(href="/coletor/incluir")
          i.fa.fa-plus-circle.mr-2
          | Incluir Novo Módulo Coletor
      table.table.table-striped
        thead.thead-inverse
          tr
            th Serial
            th Nome
            th Estado
        tbody
          tr
            td ADFEG
            td AP 01 - 001
            td Ativo
          tr
            td AS83FC
            td AP 01 - 002
            td Perdido
          tr
            td FKMSHE
            td AP 01 - 003
            td Ativo