extends layout_page

block content
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Condomínio
      p
        a.btn.btn-primary(href="/condominio/incluir")
          i.fa.fa-plus-circle.mr-2
          | Incluir Novo Condomínio
      table.table.table-striped
        thead.thead-inverse
          tr
            th Nome
            th Endereço
            th Data de criação
        tbody
          each condominio in condominios
            tr
              td=condominio.nome
              td=condominio.endereco
              td=condominio.dt_criacao_formatada