extends layout_page

block content
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Condomínio
      p
        a.btn.btn-primary(href="/condominio/incluir")
          i.fa.fa-plus-circle.mr-2
          | Incluir Novo Condomínio
      table.table.table-striped
        thead.thead-inverse
          tr
            th Nome
            th Endereço
        tbody
          tr
            td ADFEG
            td Donec rhoncus nisi eu nunc hendrerit, in tempor turpis tincidunt. Vivamus condimentum condimentum convallis.
          tr
            td AS83FC
            td Donec rhoncus nisi eu nunc hendrerit, in tempor turpis tincidunt. Vivamus condimentum condimentum convallis.
          tr
            td FKMSHE
            td Donec rhoncus nisi eu nunc hendrerit, in tempor turpis tincidunt. Vivamus condimentum condimentum convallis.