extends layout_page

block content
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Conta de Água
      p
        a.btn.btn-primary(href="/conta_agua/incluir")
          img(src="images/icon/glyphicons-191-plus-sign.png" width="20" class="mr-2 d-inline-block align-top filter-invert")
          | Incluir Nova Conta de Água
      table.table.table-striped
        thead.thead-inverse
          tr
            th Código
            th Mês de referência
            th Leitura Anterior
            th Leitura Atual
            th Vencimento
            th Valor
        tbody
          tr
            td ADFEG
            td Janeiro
            td 05/12/2016
            td 31/12/2016
            td 10/01/2017
            td R$ 2.515,98
          tr
            td AS83FC
            td Fevereiro
            td 05/01/2017
            td 31/01/2017
            td 10/02/2017
            td R$ 22.215,98
          tr
            td FKMSHE
            td Março
            td 05/02/2016
            td 31/02/2016
            td 10/03/2017
            td R$ 1.715,98