doctype html
html
  head
    title MoCA - Monitoramento de Consumo de Água
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content
    script(src='/javascripts/app.min.js')