doctype html
html
  head
    title MoCA - Monitoramento de Consumo de Água
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .col
          nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
            button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
              span(class="navbar-toggler-icon")
            a(class="navbar-brand" href="/home")
              img(src="/images/moca-transparente.png" height="25")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
              ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                  a(class="nav-link" href="/home") Home
                    span(class="sr-only") (current)
                li(class="nav-item active")
                  a(class="nav-link" href="/conta_agua") Conta de Água
                    span(class="sr-only") (current)
    .container
      block content
    script(src='/javascripts/app.min.js')