doctype html
html
  head
    title MoCA - Monitoramento de Consumo de Água
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .col
          nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
            button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
              span(class="navbar-toggler-icon")
            a(class="navbar-brand" href="/home")
              img(src="/images/moca-transparente.png" height="25")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
              ul(class="navbar-nav mr-auto")
                - var active = '';
                - active = (page === 'home' ? 'active' : '');
                li(class="nav-item" class!=active)
                  a(class="nav-link" href="/home")
                    i.fa.fa-home.mr-1
                    | Home
                    span(class="sr-only") (current)
                - active = (page === 'conta_agua' ? 'active' : '');
                li(class="nav-item" class!=active)
                  a(class="nav-link" href="/conta_agua")
                    i.fa.fa-tint.mr-1
                    | Conta de Água
                    span(class="sr-only") (current)
                - active = (page === 'unidade' ? 'active' : '');
                li(class="nav-item" class!=active)
                  a(class="nav-link" href="/unidade")
                    i.fa.fa-building-o.mr-1
                    | Unidades
                    span(class="sr-only") (current)
    .container
      block content
    script(src='/javascripts/app.min.js')