extends layout_page

block content
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Rateio
      p
        a.btn.btn-secondary(href="/conta_agua")
          i.fa.fa-arrow-left.mr-2
          | Voltar
      table.table.table-striped
        thead.thead-inverse
          tr
            th Nome da Unidade
            th Valor
        tbody
          each r in rateios
            tr
              td=r.nome
              td R$ #{r.valor}