extends layout_page

block content
  .row.justify-content-md-center.mt-4
    .col
      h1.mb-3 Unidade
      p
        a.btn.btn-primary(href="/unidade/incluir")
          i.fa.fa-plus-circle.mr-2
          | Incluir Nova Unidade
      table.table.table-striped
        thead.thead-inverse
          tr
            th Nome
            th Tipo
            th Percentual de Rateio
            th Condomínio
        tbody
          each unidade in unidades
            tr
              td=unidade.nome
              td=unidade.tipo
              td=unidade.percentual_rateio
              td=unidade.condominio